name: Test

on:
  push:
    branches:
      - 'main'
  pull_request:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-22.04

    strategy:
      fail-fast: false
      matrix:
        framework:
          ["angular","react","svelte","vue"]

    name: Test examples
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22
      - name: Cypress test
        uses: cypress-io/github-action@v6
        with:
          component: true
          working-directory: "${{ matrix.framework}}/my-awesome-app"
